<% if @review.persisted? %>
  <%= turbo_stream.append "reviews" do %>
    <%= render @review %>
  <% end %>
  
  <%= turbo_stream.update "review_form" do %>
    <%= render "form", place: @place, review: Review.new %>
  <% end %>
  
  <%= turbo_stream.replace "flash" do %>
    <div class="fixed top-4 right-4 bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg z-50 animate-fade-in">
      ✅ Отзыв добавлен!
    </div>
  <% end %>
<% else %>
  <%= turbo_stream.replace "review_form" do %>
    <%= render "form", place: @place, review: @review %>
  <% end %>
<% end %>