<%= form_with(model: place, local: true) do |f| %>
  <% if place.errors.any? %>
    <div style="color: red;">
      <h4>Ошибки при сохранении:</h4>
      <ul>
        <% place.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <%= f.label :name, "Название шаурмечной:", class: "block text-gray-700 font-medium mb-2" %>
  <%= f.text_field :name, 
      placeholder: "Например: Шаурма на ЦГБ",
      class: "w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-amber-500 focus:border-transparent" %>
</div>

<div>
  <%= f.label :address, "Адрес (Ростов-на-Дону):", class: "block text-gray-700 font-medium mb-2" %>
  <%= f.text_field :address, 
      placeholder: "ул. Пушкинская, 100",
      class: "w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-amber-500 focus:border-transparent" %>
</div>

<div>
  <%= f.label :location_url, "Ссылка на карту (Яндекс/Google):", class: "block text-gray-700 font-medium mb-2" %>
  <%= f.text_field :location_url, 
      placeholder: "https://yandex.ru/maps/...",
      class: "w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-amber-500 focus:border-transparent" %>
</div>
  <br>
  <%= f.submit place.new_record? ? "🚀 Добавить точку" : "💾 Сохранить изменения",
               style: "padding: 10px 20px; background: #28a745; color: white; border: none; border-radius: 5px; cursor: pointer;" %>
<% end %>

